<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--客户映射 指定到dao接口 -->
<mapper namespace="com.deepexi.user.mapper.UserAccountRelationMapper">
    <resultMap type="com.deepexi.user.domain.dto.UserAccountRelationDto" id="UserAccountRelationDtoResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="accountId" column="account_id"/>
        <result property="tenantCode" column="tenant_code"/>
        <result property="createdAt" column="created_at"/>
        <result property="createdBy" column="created_by"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="version" column="version"/>
        <result property="dr" column="dr"/>
    </resultMap>
    <sql id="Base_Column_List">
      id,      user_id,      account_id,      tenant_code,      created_at,      created_by,      updated_at,      updated_by,      version,      dr    </sql>

    <select id="getByDto" resultType="com.deepexi.user.domain.eo.UserAccountRelation">
        SELECT *
        FROM usc_user_account_relation
        WHERE
        tenant_code = #{tenantCode} AND dr = 0
        <if test="dto.userId != null and dto.userId != ''">
            AND user_id = #{dto.userId}
        </if>
        <if test="dto.accountId != null and dto.accountId != ''">
            AND account_id = #{dto.accountId}
        </if>
    </select>

    <select id="findList" resultType="com.deepexi.user.domain.eo.UserAccountRelation">
        SELECT
        <include refid="Base_Column_List"/>
        FROM usc_user_account_relation WHERE dr=0
    </select>
    <insert id="batchInsert">
        INSERT INTO usc_user_account_relation
        ( id, user_id, account_id, tenant_code, created_at, created_by, updated_at, updated_by, version, dr)
        VALUES
        <foreach collection="eo" index="index" item="value" separator=",">
            ( #{value.id}, #{value.userId}, #{value.accountId}, #{value.tenantCode}, #{value.createdAt},
            #{value.createdBy}, #{value.updatedAt}, #{value.updatedBy}, #{value.version}, #{value.dr})
        </foreach>
    </insert>
    <update id="batchUpdate">
        INSERT INTO usc_user_account_relation
        ( id, user_id, account_id, tenant_code, created_at, created_by, updated_at, updated_by, version, dr)
        VALUES
        <foreach collection="eo" index="index" item="value" separator=",">
            ( #{value.id}, #{value.userId}, #{value.accountId}, #{value.tenantCode}, #{value.createdAt},
            #{value.createdBy}, #{value.updatedAt}, #{value.updatedBy}, #{value.version}, #{value.dr})
        </foreach>
        ON DUPLICATE KEY UPDATE
        id=values(id), user_id=values(user_id), account_id=values(account_id), tenant_code=values(tenant_code),
        created_at=values(created_at), created_by=values(created_by), updated_at=values(updated_at),
        updated_by=values(updated_by), version=values(version), dr=values(dr)
    </update>
    <update id="deleteByIds">
        UPDATE usc_user_account_relation set dr=1 where id in
        <foreach collection="pks" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>